---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-5xl md:text-4xl font-bold text-[#000000] whitespace-nowrap dark:text-[#000000] lowercase"
>
  {SITE?.name}
</span>
